ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: inherit;
      width: 0.7em;
      height: 0.7em;
    }
  
    &[class*="custom-logo"] {
      background-image: url(../assets/imgs/Logo_Millenaires2.png);
    }
  }